@import url(http://fonts.googleapis.com/css?family=Roboto:100,900);

/*
red: FB0056;
gren: 00E8BE;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
	font-weight: 100;
	border: none;
	background: transparent;
}

body {
	background: url(bg.png), #f3ede4;
}

a,
a:active,
a:visited {
	color: inherit;
	text-decoration: none;
	color: #f3ede4;
	border-bottom: 1px solid #f3ede4;
}

a:hover {
	border-bottom: 1px solid #FB0056;
}


#ctl {
	position: absolute;
	/*opacity: 0.3;*/
	border: 1px solid black;
	right: 0;
	top: 0;
	display: none;
}

#tplt {
	display: none;
}

.banner {
	width: 100%;
	position: relative;
	background: url(bg.png) #9a896c;
	border-bottom: 3px solid #FB0056;
	color: white;
	/*-webkit-transition: 1s;*/
	/*transition: 1s;*/
	box-shadow: inset rgba(0, 0, 0, 0.3) 0 -4px 0, rgba(0, 0, 0, 0.1) 0 7px 0;
}

.banner .help {
	padding-top: 90px;
	overflow: hidden;
	height: 0px;
	font-size: 15pt;
	font-weight: 100;

	/*width: 200px;*/
	text-align: left;
}

.banner.open .help {
	height: 800px;
}

.banner .help,
.banner.open .help {
	transition: 1s;
}

/*.banner:hover {
	height: 30%;
	-webkit-transition: 1s;
	transition: 1s;
}*/

.help h1 {
	margin: 20px 0 20px 0;
	padding: 0 0 10px 0;
	border-bottom: 3px dotted #FB0056;
	clear: both;
	font-size: 134%;
}

.help p {
	/*padding: 10px 0;*/
	margin-top: 20px;
}

.help p + p:before {
	/*margin: 10px 0;*/
	padding-bottom: 20px;
	content: "";
	display: block;
	width: 20%;
	margin: auto;
	border-top: 1px dotted #f3ede4;
}

.help li:before {
	content: "+";
	color: #FB0056;
	padding: 0 20px;
}

.left {
	float: left;
	margin-right: 20px
}

.center {
	display: block;
	text-align: center;
}

.logoimg {
	width: 120px;
	vertical-align: middle;
	margin-left: -60px;
	position: absolute;
	bottom: -60px;

}

.logo {
	margin-top: -25px;
	text-align: center;
	font-size: 40pt;
}

.logo span {
	color: #FB0056;
	font-weight: 900;
}

.banner .body {
	text-align: center;
}


.body {
	width: 800px;
	max-width: 96%;
	margin: auto;
}

.room,
.post,
.follow,
.timeline {
	width: 100%;
	position: relative;
	margin-top: 50px;
}

.room.out {
	margin-top: 100px;
}

.room.in {
	margin-top: 10px;
}

.room.in,
.room.out {
	-webkit-transition: 1s;
	transition: 1s;
}

.room *,
.post *,
.follow *,
.timeline * {
	font-size: 30pt;
	height: 56px;
	vertical-align: middle;
}

.room button,
.post button,
.follow button,
.timeline button {
	/*margin-right: -100%;*/
	position: absolute;
	height: 56px;
	width: 56px;
	bottom: 0;
	right: 0;
	background: none;
	color: gray;
}

.room .name,
.follow .text,
.post .text {
	display: inline-block;
	width: 100%;
	height: 56px;
	border-bottom: 1px solid #FB0056;
	padding-right: 56px;
}

.room.in .name {
	border: none;
	border-top: 1px solid transparent;
}

.room.in + .follow {
	height: 0;
	margin-top: 0;
	padding-top: 0;
	border-bottom: 1px solid #FB0056;
	overflow: hidden;
}

.room.in:hover + .follow,
.room.in + .follow:hover {
	padding-top: 20px;
	height: 76px;
}

.room.in:hover + .follow,
.room.in + .follow:hover,
.room.in + .follow {
	transition: 0.5s;
}


.message {
	list-style-type: none;
	height: auto;
	padding-bottom: 20px;
	border-bottom: 1px dotted #9a896c;
	/*position: relative;*/
	/*display: block;*/
	/*height: 76px;*/
	/*line-height: 76px;*/
}

.message:last-child {
	border: none;
}

.message * {
	/*display: inline-block;*/
	/*height: 76px;*/
	/*line-height: 76px;*/
	margin: 0;
	padding: 0;
}

.message .room {
	color: #9a896c;
}
